<div class="row">
	<div class="col-xs-12">
		<h1>
			<translate>Contact Page</translate>
		</h1>
	</div>
</div>


<div class="row" ng-show="sent">
	<div class="col-xs-12">
		<a class="close" data-dismiss="alert" ng-click="sent = false">×</a>
		<strong>
			<translate>Message sent</translate>
		</strong>
		<translate>Not really sent</translate>
		{{ message.text }}
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<h2 translate="Author"></h2>
		<p>{{ author }}</p>

		<p><a href="mailto: {{ email }}">{{ email}}</a></p>

		<p><a href="{{ homepage }}">{{ homepage }}</a></p>

		<p>Configuration used for building: "{{ system }}" </p>
	</div>
	<div class="col-xs-8">
		<h2 translate="Contact form"></h2>

		<form ng-submit="sendMessage()">
			<fieldset>
				<div class="form-group">
					<label for="text" translate="Message"></label>
					<textarea id="text" class="form-control" ng-model="message.text" rows="10" ng-change="messageChanged()"></textarea>
				</div>

				<button class="btn btn-primary" ng-disabled="!message.text" translate="Send"></button>
			</fieldset>
		</form>
	</div>
</div>
