<!doctype html>
<!-- build:[manifest] ngstart.manifest -->
<html xmlns="http://www.w3.org/1999/html">
<!-- /build -->
<head>
	<title>ngStart</title>

	<meta charset="utf-8">

	<!-- build:css css/ngstart.css-->
	<link rel="stylesheet" href="../target/ngstart.css">
	<!-- /build -->

</head>
<body ng-controller="navbarController">
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#/" class="navbar-brand"><i class="fa fa-flag"></i> ngStart</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: isActive('/about/')}"><a href="#about" translate="About Page"></a></li>
				<li ng-class="{active: isActive('/contact/')}"><a href="#contact" translate="Contact Page"></a></li>
			</ul>


			<div class="flag flag-de" ng-click="changeLanguage('de_DE')"></div>
			<div class="flag flag-en" ng-click="changeLanguage('en_EN')"></div>
		</div>
	</div>
</div>
<div class="container" >
	<div ng-view></div>
</div>

<!-- build:js modules/main.js -->
<script src="http://localhost:35729/livereload.js"></script>
<script src="../bower_components/requirejs/require.js" data-main="modules/main"></script>
<!-- /build -->

</body>
</html>
