<!doctype html>
<!--(if target build)>
	<html ng-app="angular" manifest="ngStart.manifest">
<!(endif)-->
<!--(if target local)> -->
<html xmlns="http://www.w3.org/1999/html">
<!--<!(endif)-->
<head>
	<title>ngStart</title>

	<meta charset="utf-8">

	<!--(if target build)>
		<link rel="stylesheet" href="css/ngStart.css">
		<script src="modules/main.js" data-main="main"></script></script>

	<!(endif)-->
	<!--(if target local)> -->
	<!--<script type="text/javascript">parent.uitest && parent.uitest.instrument(window);</script>-->
	<script src="http://localhost:35729/livereload.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/project.css">
	<script src="../../bower_components/requirejs/require.js" data-main="modules/main"></script>
	<!--<!(endif)-->
</head>
<body ng-controller="navbarController">
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand">ngStart</a>
			<div class="nav" >
				<ul class="nav">
					<li ng-class="{active: isActive('/about/')}"><a href="#about">About Page</a></li>
					<li ng-class="{active: isActive('/contact/')}"><a href="#contact">Contact Page</a></li>
				</ul>
			</div>
			<div class="flag flag-de" ng-click="changeLanguage('de')"></div>
			<div class="flag flag-en" ng-click="changeLanguage('en')"></div>
		</div>
	</div>
</div>
<div class="container" >
	<div ng-view></div>
</div>


</body>
</html>
